html(lang="en")
  head
    title Visit www.pixelrocket.store to learn how to become a frontend web developer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=sentient@400,500&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")
    link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
  body
    div(class="")
      div
      div(class="py-2 text-center bg-primary text-white")
        p(class="m-0")
          | Want to learn how to build templates like this one? Visit 
          a(class="text-light" href="https://www.pixelrocket.store") www.pixelrocket.store
section(class="pb-12 pb-lg-24 bg-dark")
  nav(class="navbar mb-12 mb-lg-16 navbar-expand-lg navbar-dark bg-dark")
    div(class="container")
      a(class="navbar-brand" href="#")
        img(class="img-fluid" src="images/logo-white-2.svg" alt="")
      button(class="d-lg-none navbar-burger btn px-0 rounded-pill" style="border: none;" type="button")
        svg(class="text-primary" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
          rect(width="56" height="56" rx="28" fill="currentColor")
          path(d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
      div(class="collapse navbar-collapse")
        ul(class="navbar-nav ms-lg-auto me-4")
          li(class="nav-item me-4")
            a(class="nav-link py-0" href="about.html") About
          li(class="nav-item me-4")
            a(class="nav-link py-0" href="pricing.html") Pricing
          li(class="nav-item me-4")
            a(class="nav-link py-0" href="blog.html") Blog
          li(class="nav-item me-4")
            a(class="nav-link py-0" href="contact.html") Contact
          li(class="nav-item")
            a(class="nav-link py-0 border-start border-secondary-dark" href="login.html") Customer Login
        div
          a(class="btn btn-primary py-3" href="register.html") Try 14 Days Free Trial
  div(class="container")
    div(class="row align-items-center")
      div(class="col-12 col-lg-5 mb-12 mb-lg-0")
        div(class="mw-lg-3xl mx-auto")
          span(class="badge mb-8 bg-secondary rounded-pill") #1 BRAND BUILDING TOOL
          h1(class="text-white mb-12") Boost brand's visibility and reach fast.
          div(class="d-grid d-sm-block mb-n4")
            a(class="btn btn-primary mb-4 me-sm-4" href="#") Try 14 Days Free Trial
            |                   
            a(class="btn btn-outline-light mb-4" href="#")
              svg(class="me-2" width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M3 12.5L3 13.25C3 14.4926 4.00736 15.5 5.25 15.5L12.75 15.5C13.9926 15.5 15 14.4926 15 13.25L15 12.5M12 9.5L9 12.5M9 12.5L6 9.5M9 12.5L9 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              span Download IOS App
          div(class="d-lg-flex align-items-center mt-14")
            div(class="d-flex mb-3 mb-lg-0 me-3 align-items-center")
              img(src="hexsmith-assets/images/headers/avatar.png" alt="")
              img(class="ms-n4" src="hexsmith-assets/images/headers/avatar2.png" alt="")
              img(class="ms-n4" src="hexsmith-assets/images/headers/avatar3.png" alt="")
            p(class="mw-xs text-white mb-0") Join other 12k+ Marketers and start building brands reputation now.
      div(class="col-12 col-lg-7")
        img(class="img-fluid d-block mx-auto rounded-4" src="hexsmith-assets/images/headers/dashboard-2.png" alt="")
  div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
      div(class="d-flex align-items-center")
        a(class="me-auto h4 mb-0 text-decoration-none" href="#")
          img(class="img-fluid" src="images/logo.svg" alt="")
        |               
        a(class="navbar-close" href="#")
          svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      div(class="py-12")
        ul(class="nav flex-column")
          li(class="nav-item mb-4")
            a(class="nav-link py-0" href="about.html") About
          li(class="nav-item mb-4")
            a(class="nav-link py-0" href="pricing.html") Pricing
          li(class="nav-item mb-4")
            a(class="nav-link py-0" href="blog.html") Blog
          li(class="nav-item mb-4")
            a(class="nav-link py-0" href="contact.html") Contact
          li(class="nav-item pt-4 border-top")
            a(class="nav-link text-dark" href="login.html") Customer Login
      div
        a(class="btn btn-primary d-block" href="register.html") Try 14 Days Free Trial
section(class="py-12 py-lg-24")
  div(class="container")
    div(class="row align-items-center")
      div(class="col-12 col-md-12 col-lg-4 mb-12 mb-lg-0")
        div(class="mw-xs mx-auto text-center")
          img(class="img-fluid d-block mx-auto mb-8" src="hexsmith-assets/images/features/customize.png" alt="")
          span(class="d-block fw-semibold mb-4") Customize As Needed
          p(class="mb-8") We consider all the drivers of change gives you the blocks & components you need to change to create.
          a(class="btn btn-link fw-semibold" href="#") Start Customizing
      div(class="col-12 col-md-12 col-lg-4 mb-12 mb-lg-0")
        div(class="mw-xs mx-auto text-center")
          img(class="img-fluid d-block mx-auto mb-8" src="hexsmith-assets/images/features/smart.png" alt="")
          span(class="d-block fw-semibold mb-4") Fits Existing Brand
          p(class="mb-8") We consider all the drivers of change gives you the blocks & components you need to change to create.
          a(class="btn btn-link fw-semibold" href="#") Grow Brand
      div(class="col-12 col-md-12 col-lg-4")
        div(class="mw-xs mx-auto text-center")
          img(class="img-fluid d-block mx-auto mb-8" src="hexsmith-assets/images/features/customize.png" alt="")
          span(class="d-block fw-semibold mb-4") Multi-layer Design
          p(class="mb-8") We consider all the drivers of change gives you the blocks & components you need to change to create.
          a(class="btn btn-link fw-semibold" href="#") Start Designing
section(class="py-12 py-lg-24 bg-dark")
  div(class="container")
    div(class="mw-2xl mx-auto text-center mb-20")
      h2(class="text-white") Boost your team's productivity with our collaboration tools
    div(class="row")
      div(class="col-12 col-lg-6 mb-14 mb-lg-0")
        div(class="mw-md mw-md-lg mx-auto mx-lg-0")
          div(class="d-flex mb-16")
            span(class="h1 text-secondary-dark") 1
            div(class="ms-4 ms-sm-14")
              span(class="d-block fw-semibold text-white mb-4") Choose the right tool
              p(class="text-secondary-dark mb-0") Use and re-use tons of responsive sections to create the perfect layout.
          div(class="d-flex mb-16")
            span(class="h1 text-secondary-dark") 2
            div(class="ms-4 ms-sm-14")
              span(class="d-block fw-semibold text-white mb-4") Set up your account
              p(class="text-secondary-dark mb-0") Use and re-use tons of responsive sections to create the perfect layout.
          div(class="d-flex mb-16")
            span(class="h1 text-secondary-dark") 3
            div(class="ms-4 ms-sm-14")
              span(class="d-block fw-semibold text-white mb-4") Start using Basko
              p(class="text-secondary-dark mb-0") Use and re-use tons of responsive sections to create the perfect layout.
      div(class="col-12 col-lg-6")
        img(class="d-block w-100 mw-lg mx-auto me-lg-0 img-fluid rounded-3" src="hexsmith-assets/images/how-it-works/woman.jpg" alt="")
section(class="py-12 py-lg-24")
  div(class="container")
    div(class="mw-md mx-auto mw-lg-none")
      div(class="mw-2xl mx-auto text-center mb-16")
        h2(class="mb-4") Read from our blogs
        p(class="lead mb-0") Use and re-use tons of responsive sections to create the perfect layout. Sections are organised into convenient categories.
      div(class="row mx-xl-n8")
        div(class="col-12 col-lg-4 px-xl-8 mb-16 mb-lg-0")
          a(class="btn d-inline-block w-100 text-start fw-normal p-0 border-0 lh-base" href="#")
            img(class="img-fluid d-block w-100 mb-5 w-100 rounded-3" src="hexsmith-assets/images/blog/blog.jpg" alt="")
            span(class="d-block mb-1 fw-semibold text-primary") Finance
            div(class="mw-lg")
              p(class="mw-sm fs-4 fw-semibold mb-4") 10 tips for managing your money in the new year.
              span(class="d-block fs-6 text-secondary-dark") August 28, 2022
        div(class="col-12 col-lg-4 px-xl-8 mb-16 mb-lg-0")
          a(class="btn d-inline-block w-100 text-start fw-normal p-0 border-0 lh-base" href="#")
            img(class="img-fluid d-block w-100 mb-5 w-100 rounded-3" src="hexsmith-assets/images/blog/blog2.jpg" alt="")
            span(class="d-block mb-1 fw-semibold text-primary") Budget
            div(class="mw-lg")
              p(class="mw-sm fs-4 fw-semibold mb-4") The benefits of creating a budget and how to get started
              span(class="d-block fs-6 text-secondary-dark") August 28, 2022
        div(class="col-12 col-lg-4 px-xl-8 mb-16 mb-lg-0")
          a(class="btn d-inline-block w-100 text-start fw-normal p-0 border-0 lh-base" href="#")
            img(class="img-fluid d-block w-100 mb-5 w-100 rounded-3" src="hexsmith-assets/images/blog/blog3.jpg" alt="")
            span(class="d-block mb-1 fw-semibold text-primary") Management
            div(class="mw-lg")
              p(class="mw-sm fs-4 fw-semibold mb-4") Why you should consider investing in the stock market
              span(class="d-block fs-6 text-secondary-dark") August 28, 2022
section(class="py-12 py-md-24 py-lg-32")
  div(class="container")
    div(class="row align-items-end")
      div(class="col-12 col-lg-6 mb-32 mb-lg-0")
        div(class="mw-md mw-lg-lg mx-auto mx-lg-0")
          h2(class="mb-4") Integrating with your favourite Tools
          p(class="lead mw-md mb-10") Our visual designer lets you quickly and of drag and drop down your way to custom apps for both keep desktop, mobile.
          a(class="btn btn-primary" href="#") Try 14 Days Free Trial
      div(class="col-12 col-lg-6")
        div
          div(class="row mb-n14")
            div(class="col-6 col-sm-4 mb-14")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/dropbox-xl.svg" alt="")
            div(class="position-relative col-6 col-sm-4 mb-14")
              img(class="position-absolute bottom-100 end-0 me-5 me-sm-n10 mb-3" src="hexsmith-assets/images/integrations/info.png" alt="")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/google-drive-xl.svg" alt="")
            div(class="col-6 col-sm-4 mb-14")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/brand-xl.svg" alt="")
            div(class="col-6 col-sm-4 mb-14")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/linkedin-xl.svg" alt="")
            div(class="col-6 col-sm-4 mb-14")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/slack-xl.svg" alt="")
            div(class="col-6 col-sm-4 mb-14")
              img(class="img-fluid d-block mx-auto" src="hexsmith-assets/logos/brands/brand2-xl.svg" alt="")
section(class="py-12 py-lg-24 bg-dark")
  div(class="container")
    div(class="position-relative px-8 px-md-11 py-10 mb-16 bg-white rounded-4 overflow-hidden")
      img(class="position-absolute top-0 start-0 w-100 h-100" src="hexsmith-assets/images/gradient.png" alt="")
      div(class="position-relative row align-items-center")
        div(class="col-12 col-lg-7 mb-10 mb-lg-0")
          h2(class="text-white mb-0") Want to learn how to build templates like this one?
        div(class="col-12 col-lg-5 text-lg-end")
          a(class="btn btn-dark" href="https://www.pixelrocket.store") Visit www.pixelrocket.store
    div(class="row mb-n12")
      div(class="col-12 col-sm-6 col-lg-3 mb-12")
        div
          span(class="d-block fw-semibold text-white mb-7") Company
          ul(class="list-unstyled mb-0")
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") About
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Features
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Works
            li
              a(class="d-inline-block text-white" href="#") Career
      div(class="col-12 col-sm-6 col-lg-3 mb-12")
        div
          span(class="d-block fw-semibold text-white mb-7") Help
          ul(class="list-unstyled mb-0")
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Customer Support
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Delivery Details
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Terms & Conditions
            li
              a(class="d-inline-block text-white" href="#") Privacy Policy
      div(class="col-12 col-sm-6 col-lg-3 mb-12")
        div
          span(class="d-block fw-semibold text-white mb-7") Resources
          ul(class="list-unstyled mb-0")
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Free eBooks
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Development Tutorial
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") How to - Blog
            li
              a(class="d-inline-block text-white" href="#") Youtube Playlist
      div(class="col-12 col-sm-6 col-lg-3 mb-12")
        div
          span(class="d-block fw-semibold text-white mb-7") Links
          ul(class="list-unstyled mb-0")
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Free eBooks
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") Development Tutorial
            li(class="mb-4")
              a(class="d-inline-block text-white" href="#") How to - Blog
            li
              a(class="d-inline-block text-white" href="#") Youtube Playlist
    script(src="js/bootstrap/bootstrap.bundle.min.js")
    script(src="js/main.js")
